# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Tests cache (si tu utilises Vitest)
coverage/
.vitest/

# Optional: si tu utilises Jest
jest-cache/
jest-results.json
